### Data Warehousing and data mining task

In [11]:
# importing the necessary libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv

### Loading the dataset

In [14]:
# Loading the dataset into a pandas dataframe, skipping problematic rows on_bad_lines='skip',
data = pd.read_csv("sales_data_sample.csv", sep=",", engine='python', encoding='latin1')
data.head(20)

ParserError: Expected 25 fields in line 8, saw 26

### Data Understanding

In [ ]:
# getting the columns of the dataset
data.columns

Index(['ORDERNUMBER', ' QUANTITYORDERED', ' PRICEEACH', ' ORDERLINENUMBER',
       ' SALES   ', ' ORDERDATE      ', ' STATUS    ', ' QTR_ID', ' MONTH_ID',
       ' YEAR_ID', ' PRODUCTLINE     ', ' MSRP', ' PRODUCTCODE',
       ' CUSTOMERNAME                        ', ' PHONE            ',
       ' ADDRESSLINE1                              ', ' ADDRESSLINE2',
       ' CITY          ', ' STATE        ', ' POSTALCODE', ' COUNTRY    ',
       ' TERRITORY', ' CONTACTLASTNAME', ' CONTACTFIRSTNAME', ' DEALSIZE'],
      dtype='object')

In [ ]:
# random sampling of the dataset
data.sample(10)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
336,10407,76,100.00,2,14082.80,4/22/2005 0:00,On Hold,2,4,2005,...,3086 Ingle Ln.,,San Jose,CA,94217,USA,NA,Frick,Sue,Large
1258,10398,49,36.66,5,1796.34,3/30/2005 0:00,Shipped,1,3,2005,...,59 rue de l'Abbaye,,Reims,,51100,France,EMEA,Henriot,Paul,Small
384,10182,38,61.15,9,2323.70,11/12/2003 0:00,Shipped,4,11,2003,...,5677 Strong St.,,San Rafael,CA,97562,USA,NA,Nelson,Valarie,Small
675,10207,40,100.00,1,6146.80,12/9/2003 0:00,Shipped,4,12,2003,...,6251 Ingle Ln.,,Boston,MA,51003,USA,NA,Franco,Valarie,Medium
159,10196,24,100.00,6,3807.12,11/26/2003 0:00,Shipped,4,11,2003,...,567 North Pendale Street,,New Haven,CT,97823,USA,NA,Murphy,Leslie,Medium
1044,10135,47,100.00,2,6336.07,7/2/2003 0:00,Shipped,3,7,2003,...,5677 Strong St.,,San Rafael,CA,97562,USA,NA,Nelson,Valarie,Medium
659,10130,33,100.00,1,3423.75,6/16/2003 0:00,Shipped,2,6,2003,...,16780 Pompton St.,,Brickhaven,MA,58339,USA,NA,Taylor,Leslie,Medium
434,10168,21,70.96,9,1490.16,10/28/2003 0:00,Shipped,4,10,2003,...,9408 Furth Circle,,Burlingame,CA,94217,USA,NA,Hirano,Juri,Small
714,10259,41,100.00,13,4666.62,6/15/2004 0:00,Shipped,2,6,2004,...,Village Close - 106 Linden Road Sandown,2nd Floor,Singapore,,69045,Singapore,APAC,Victorino,Wendy,Medium
1301,10331,20,100.00,5,3657.80,11/17/2004 0:00,Shipped,4,11,2004,...,11328 Douglas Av.,,Philadelphia,PA,71270,USA,NA,Hernandez,Rosa,Medium

In [ ]:
# preview the tail of the dataset
data.tail(10)

In [4]:
# getting more information on the dataset
data.info()

NameError: name 'data' is not defined

### Data Cleaning

In [10]:
## check for missing values
data.isna().sum()

ORDERNUMBER                                    0
 QUANTITYORDERED                               0
 PRICEEACH                                     0
 ORDERLINENUMBER                               0
 SALES                                         0
 ORDERDATE                                     0
 STATUS                                        0
 QTR_ID                                        0
 MONTH_ID                                      0
 YEAR_ID                                       0
 PRODUCTLINE                                   0
 MSRP                                          0
 PRODUCTCODE                                   0
 CUSTOMERNAME                                  0
 PHONE                                         0
 ADDRESSLINE1                                  0
 ADDRESSLINE2                                  0
 CITY                                          0
 STATE                                         0
 POSTALCODE                                    0
 COUNTRY                                       0
 TERRITORY                                     0
 CONTACTLASTNAME                               0
 CONTACTFIRSTNAME                              0
 DEALSIZE                                      0
dtype: int64

In [12]:
data.columns.str.strip()

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [ ]:
# dealing with missing values with a descriptive word "missing"

data['ADDRESSLINE2'].fillna("missing", inplace=True)
data['STATE'].fillna("missing", inplace=True)

data['POSTALCODE'].fillna("missing", inplace=True)
data['TERRITORY'].fillna("missing", inplace=True)

In [14]:
# checking missing values after imputation
data.isna().sum()

ORDERNUMBER                                    0
 QUANTITYORDERED                               0
 PRICEEACH                                     0
 ORDERLINENUMBER                               0
 SALES                                         0
 ORDERDATE                                     0
 STATUS                                        0
 QTR_ID                                        0
 MONTH_ID                                      0
 YEAR_ID                                       0
 PRODUCTLINE                                   0
 MSRP                                          0
 PRODUCTCODE                                   0
 CUSTOMERNAME                                  0
 PHONE                                         0
 ADDRESSLINE1                                  0
 ADDRESSLINE2                                  0
 CITY                                          0
 STATE                                         0
 POSTALCODE                                    0
 COUNTRY                                       0
 TERRITORY                                     0
 CONTACTLASTNAME                               0
 CONTACTFIRSTNAME                              0
 DEALSIZE                                      0
dtype: int64

In [15]:
# checking for consistency
## checking for duplicated values 

data.duplicated().sum()

0

In [16]:
# save the cleaned data
data.to_csv("cleaned_sales_data.csv", index=False)

In [13]:
cleaned_df = pd.read_csv("cleaned_sales_data.csv", encoding='latin1', sep=",", on_bad_lines='skip')
cleaned_df.head(10)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,missing,NYC,NY,10022,USA,missing,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,missing,Reims,missing,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,missing,Paris,missing,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,missing,Pasadena,CA,90003,USA,missing,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,missing,San Francisco,CA,missing,USA,missing,Brown,Julie,Medium
5,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,2003,...,9408 Furth Circle,missing,Burlingame,CA,94217,USA,missing,Hirano,Juri,Medium
6,10201,22,98.57,2,2168.54,12/1/2003 0:00,Shipped,4,12,2003,...,5557 North Pendale Street,missing,San Francisco,CA,missing,USA,missing,Murphy,Julie,Small
7,10237,23,100.00,7,2333.12,4/5/2004 0:00,Shipped,2,4,2004,...,2678 Kingston Rd.,Suite 101,NYC,NY,10022,USA,missing,Frick,Michael,Small
8,10251,28,100.00,2,3188.64,5/18/2004 0:00,Shipped,2,5,2004,...,7476 Moss Rd.,missing,Newark,NJ,94019,USA,missing,Brown,William,Medium
9,10263,34,100.00,2,3676.76,6/28/2004 0:00,Shipped,2,6,2004,...,25593 South Bay Ln.,missing,Bridgewater,CT,97562,USA,missing,King,Julie,Medium

In [24]:
cleaned_df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

#### Splitting the data into orders dataset, customer dataset, product dataset and addresses dataset

In [17]:
# 1. Create Orders Dataset 
# Select columns for orders, including foreign keys for product and customer.

# Strip leading spaces from column names
cleaned_df.columns = cleaned_df.columns.str.strip()

orders_cols = [
    'ORDERNUMBER', 'ORDERDATE', 'SALES', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
    'ORDERLINENUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'PRODUCTCODE', 'CUSTOMERNAME'
]
orders_df = cleaned_df[orders_cols]

orders_df.head(10)

# Save orders to CSV
orders_df.to_csv('orders.csv', index=False)

In [21]:
# 2. Create Customers Dataset 
# Select customer columns. Drop duplicates if customers appear in multiple rows.

customers_cols = ['CUSTOMERNAME', 'PHONE', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME']

customers_df = data[customers_cols].drop_duplicates()

customers_df.head(10)
# Save customers to CSV
# customers_df.to_csv('customers.csv', index=False)

KeyError: "None of [Index(['CUSTOMERNAME', 'PHONE', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME'], dtype='object')] are in the [columns]"

In [ ]:
# 3. Create Products Dataset
# Select product-related columns. Drop duplicates to keep unique products.

products_cols = ['PRODUCTCODE', 'PRODUCTLINE', 'MSRP', 'DEALSIZE']
products_df = data[products_cols].drop_duplicates()

products_df.head(10)

# Save products to CSV
# products_df.to_csv('products.csv', index=False)

In [ ]:
# 4. Create Addresses Dataset
# Select address-related columns. Drop duplicates to keep unique addresses.

addresses_cols = ['ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY']
addresses_df = data[addresses_cols].drop_duplicates()

addresses_df.head(10)

# Save addresses to CSV
# addresses_df.to_csv('addresses.csv', index=False)

In [ ]:
import pandas as pd

# Read the entire dataset
data = pd.read_csv('sales_sample_data.csv')

# Ensure columns are stripped of extra whitespace
data.columns = data.columns.str.strip()

# --- Split for Fact Table: Orders ---
orders_cols = [
    'ORDERNUMBER', 'ORDERDATE', 'SALES', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
    'ORDERLINENUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'PRODUCTCODE', 'CUSTOMERNAME'
]
orders_df = data[orders_cols]
orders_df.to_csv('orders.csv', index=False)

# --- Split for Customers Dimension ---
customers_cols = ['CUSTOMERNAME', 'PHONE', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME']
customers_df = data[customers_cols].drop_duplicates()
customers_df.to_csv('customers.csv', index=False)

# --- Split for Products Dimension ---
products_cols = ['PRODUCTCODE', 'PRODUCTLINE', 'MSRP', 'DEALSIZE']
products_df = data[products_cols].drop_duplicates()
products_df.to_csv('products.csv', index=False)

# --- Split for Addresses Dimension ---
addresses_cols = ['ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY']
addresses_df = data[addresses_cols].drop_duplicates()
addresses_df.to_csv('addresses.csv', index=False)

print("CSV files generated: orders.csv, customers.csv, products.csv, addresses.csv")